/* BanyanJade */
/*@font-face {
	font-family: 'BanyanJade';
	src: url('https://dl.dropboxusercontent.com/s/olcvdw7iql49d7r/BanyanJade%20Regular.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/cl1nal4uacj7l8w/BanyanJade%20Regular.woff2') format('woff2'),
		url('https://dl.dropboxusercontent.com/s/mtq9ldnq4ilf6sg/BanyanJade%20Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BanyanJade';
	src: url('https://dl.dropboxusercontent.com/s/olcvdw7iql49d7r/BanyanJade%20Regular.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/cl1nal4uacj7l8w/BanyanJade%20Regular.woff2') format('woff2'),
		url('https://dl.dropboxusercontent.com/s/mtq9ldnq4ilf6sg/BanyanJade%20Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'BanyanJade';
	src: url('https://dl.dropboxusercontent.com/s/zci3ohcc3tozb98/BanyanJade%20Light.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/u1mgystx7r8ozd3/BanyanJade%20Light.woff2') format('woff2'),
		url('https://dl.dropboxusercontent.com/s/7sy99rqybs1hiov/BanyanJade%20Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'BanyanJade';
	src: url('https://dl.dropboxusercontent.com/s/xyclmx2tmnqvznk/BanyanJade%20Thin.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/3c816fmmwqwwgwc/BanyanJade%20Thin.woff2') format('woff2'),
		url('https://dl.dropboxusercontent.com/s/cyale2uqmhcnk10/BanyanJade%20Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'BanyanJade';
	src: url('https://dl.dropboxusercontent.com/s/iygobfwmihlgkmf/BanyanJade%20Bold.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/ynhiq2zimuwam9s/BanyanJade%20Bold.woff2') format('woff2'),
		url('https://dl.dropboxusercontent.com/s/cu9pzwm7z50rqz4/BanyanJade%20Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'BanyanJade';
	src: url('https://dl.dropboxusercontent.com/s/iygobfwmihlgkmf/BanyanJade%20Bold.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/ynhiq2zimuwam9s/BanyanJade%20Bold.woff2') format('woff2'),
		url('https://dl.dropboxusercontent.com/s/cu9pzwm7z50rqz4/BanyanJade%20Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}*/

/* Yache */
@font-face {
	font-family: 'Yache';
	src: url('https://dl.dropboxusercontent.com/s/vhofrxhhjd8exn5/YanoljaYacheOTFB.woff2') format('woff2'),
		url('https://dl.dropboxusercontent.com/s/uma356qzx3g1q48/YanoljaYacheOTFB.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/nu68ubmu2msu6yp/YanoljaYacheOTFB.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Yache';
	src: url('https://dl.dropboxusercontent.com/s/vhofrxhhjd8exn5/YanoljaYacheOTFB.woff2') format('woff2'),
		url('https://dl.dropboxusercontent.com/s/uma356qzx3g1q48/YanoljaYacheOTFB.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/nu68ubmu2msu6yp/YanoljaYacheOTFB.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Yache';
	src: url('https://dl.dropboxusercontent.com/s/ubklywrlssp5lv1/YanoljaYacheOTFR.woff2') format('woff2'),
		url('https://dl.dropboxusercontent.com/s/amsmk6kutgyy8rp/YanoljaYacheOTFR.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/tj7yycas6q7yq3p/YanoljaYacheOTFR.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Yache';
	src: url('https://dl.dropboxusercontent.com/s/ubklywrlssp5lv1/YanoljaYacheOTFR.woff2') format('woff2'),
		url('https://dl.dropboxusercontent.com/s/amsmk6kutgyy8rp/YanoljaYacheOTFR.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/tj7yycas6q7yq3p/YanoljaYacheOTFR.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'BMJUA';
	src: url('https://dl.dropboxusercontent.com/s/qf7fomszmaa8jqr/BMJUAOTF00.eot');
	src: url('https://dl.dropboxusercontent.com/s/qf7fomszmaa8jqr/BMJUAOTF00.eot?#iefix') format('embedded-opentype'),
		url('https://dl.dropboxusercontent.com/s/xqvk4lir2av4y7f/BMJUAOTF00.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/9eye5031nyu8kih/BMJUAOTF00.ttf') format('truetype');
		/*url('https://dl.dropboxusercontent.com/s/t2fhiglfmeh5jvr/BMJUAOTF00.svg') format('svg');*/
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BMYEONSUNG';
	src: url('https://dl.dropboxusercontent.com/s/x321w66sivtugo1/BMYEONSUNG-OTF00.eot');
	src: url('https://dl.dropboxusercontent.com/s/x321w66sivtugo1/BMYEONSUNG-OTF00.eot?#iefix') format('embedded-opentype'),
		url('https://dl.dropboxusercontent.com/s/m96tk9v2xm0zy28/BMYEONSUNG-OTF00.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/3phfxwnowbud6bh/BMYEONSUNG-OTF00.ttf') format('truetype');
		/*url('https://dl.dropboxusercontent.com/s/o0yy8a4676ewv1s/BMYEONSUNG-OTF00.svg') format('svg');*/
	font-weight: normal;
	font-style: normal;
}

/* icons */
@font-face {
	font-family: 'icon';
	src: url('https://dl.dropboxusercontent.com/s/7cyvyvj64kg9osj/ionicons.eot');
	src: url('https://dl.dropboxusercontent.com/s/7cyvyvj64kg9osj/ionicons.eot?#iefix') format('embedded-opentype'),
		url('https://dl.dropboxusercontent.com/s/f9g9ah44u9xroao/ionicons.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/kudofyrf9gnd0mq/ionicons.ttf') format('truetype'),
		url('https://dl.dropboxusercontent.com/s/3tarsa952wtnqvp/ionicons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* BanyanJade Icons */
@font-face {
	font-family: 'BanyanJade Icons';
	src: url('https://dl.dropboxusercontent.com/s/aipcgandzt2ki0g/BanyanJadeIcons-Regular.eot');
	src: url('https://dl.dropboxusercontent.com/s/aipcgandzt2ki0g/BanyanJadeIcons-Regular.eot?#iefix') format('embedded-opentype'),
		url('https://dl.dropboxusercontent.com/s/8rfdlv1wnfsqpzg/BanyanJadeIcons-Regular.woff') format('woff'),
		url('https://dl.dropboxusercontent.com/s/a10rwwh5o1yncte/BanyanJadeIcons-Regular.woff2') format('woff2'),
		url('https://dl.dropboxusercontent.com/s/z5xt0rk8kmtcp6v/BanyanJadeIcons-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
